* {
    box-sizing: border-box;
}

html,body
{
    /* width: 100%; */
    /* height: 100vh; */
    margin: 0px;
    padding: 0px;

}

html {
    overflow-y: hidden;
    user-select: none;
    background-color: rgba(17, 17, 17, 0.182);
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
}