.inContainer {
    /* display: flex; */
    height: 100vh;
    position: relative;
}

.inSectionOne {
    display: flex;
}

.inSectionTwo {
    display: none;
}

.imgContainer {
    height: 100vh;
    position: relative;
}

.middleContainer {
    margin-top: 5rem;
    margin-left: 14rem;
    height: 10rem;
    width: 20rem;
    text-align: center;
}

.priceSection {
    display: flex;
    align-items: center;
    margin-top: .5rem;
    justify-content: space-between;
    margin-bottom: -1rem;
    text-align: center;
    z-index: 100;
}

.price {
    margin-left: 3.5rem;
    margin-top: 0.5rem;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.addSection {
    display: flex;
    align-items: center;
    margin-right: 4.5rem;
    margin-left: 1.8rem;
}

.cartAdd {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 30px;
    padding: 0rem 0.5rem;
}

.remove {
    margin-bottom: 0.5rem;
}

.remove:hover {
    transform: scale(1.02);
}

.add {
    margin-bottom: 0.56rem;
}

.add:hover {
    transform: scale(1.02);
}

.addToCart {
    margin-top: 1rem;
    padding: 1rem 5rem;
    border-radius: 30px;
    border-style: none;
    background-color: plum;
}

.addToCart:hover {
    background-color: hotpink;
    transform: scale(1.02);
}

.inTextContainer {
    text-align: center;
    margin-left: -2rem;
}

.inTitle {
    margin-top: 2rem;
    margin-bottom: -1rem;
    font-family: 'Nerko One', cursive;
    font-size: 50px;
    background: -webkit-linear-gradient(palevioletred, plum);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bigDiv {
    border: solid 10px white;
    width: 25rem;
    height: 17rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.smallDiv {
    background-color: lavenderblush;
    width: 20rem;
    height: 13rem;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 1.3rem;
}

.descPara {
    color: rgb(100, 40, 212);
    justify-content: center;
    text-align: center;
    padding-top: 3.5rem;
    line-height: 2rem;
}

.customPara {
    color: rgb(212, 40, 71);
    justify-content: center;
    text-align: center;
    padding-top: 2.8rem;
    line-height: 2rem;
}

.inBackContainer {
    position: fixed;
    display: flex;
    top: 8.5rem;
    margin-top: -4rem;
}

.inBack {
    font-size: 15px;
    margin-top: 0.05rem;
}

.inBottomButtonsContainer {
    margin-top: 1rem;
    margin-left: 1rem;
}

.inUpdateButton, .inDeleteButton {
    border-radius: 20px;
    border: none;
    background-color: #95cdde;
    padding: 0.4rem 0rem;
    font-size: 13px;
    font-weight: 600;
    width: 5rem;
}

.inUpdateButton:hover, .inDeleteButton:hover {
    transform: scale(1.08);
}

.inUpdateButton:hover {
    background-color: #E8E479;
}

.inDeleteButton:hover {
    background-color: #FAB65C;
}

.inUpdateButton {
    margin-right: 0.5rem;
}

.errorLoad {
    font-size: 45px;
    text-align: center;
    padding-top: 5rem;
}

.smallerError {
    font-size: 20px;
    padding: 0;
    color: red;
}





/* MEDIA QUERIES */

@media screen and (max-width: 1275px) {
    .middleContainer {
        margin-left: 10rem;
    }
}

@media screen and (max-width: 984px) {
    .middleContainer {
        margin-left: 5rem;
    }
}


@media screen and (max-width: 830px) {
    .middleContainer {
        margin-left: 2.5rem;
    }
}

@media screen and (max-width: 800px) {
    .inTitle {
        margin-left: 17rem;
    }

    .inContainer {
        margin-top: -2rem;
    }

    .inSectionOne {
        display: none;
    }

    .inSectionTwo {
        display: initial;
    }

    .inHiddenBottom {
        display: flex;
    }

    .secondPrice {
        display: flex;
    }

    .imgContainer {
        margin-bottom: -5rem;
        margin-top: -6rem;
        margin-left: 8rem;
        width: 40rem;
        height: 30rem;
    }

    .inBackContainer {
        margin-left: -8rem;
    }
}

@media screen and (max-width: 767px) {

    .inContainer {
        margin-top: 0rem;
    }

    .inTitle {
        margin: 0;
        padding-top: 2rem;
        padding-left: 14rem;
    }

    .imgContainer {
        margin-top: -4rem;
        margin-left: 4rem;
    }

    .inBackContainer {
        margin-top: -4rem;
        margin-left: -4rem;
    }

    .smallDiv {
        margin: 0;
        padding: 0;
        margin-top: -15rem;
        margin-left: 2rem;
    }

    .priceSection {
        margin: 0;
        padding: 0;
        margin-top: -15rem;
        margin-left: 2rem;
        z-index: 100;       
    }

    .addToCart {
        margin-top: -1rem;
    }

    .inHiddenBottom {
        margin-top: 13rem;
    }
}

@media screen and (max-width: 711px) {
    .inTitle {
        width: 40rem;
        margin-left: -2rem;
    }

    .inContainer {
        overflow-y: auto;
    }
}

@media screen and (max-width: 708px) {
    .inTitle {
        width: 40rem;
        margin-left: -2.5rem;
    }

    .imgContainer {
        margin-bottom: -6.5rem;
    }

    .customPara {
        margin: 0;
        padding: 0;
        padding-top: 2rem;
        color: blue;
    }

    .inContainer {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 680px) {
    .customPara {
        margin-top: -1rem;
    }
}

@media screen and (max-width: 669px) {
    .inHiddenBottom {
        display: initial;
    }

    .inTitle {
        margin-left: -1.5rem;
    }

    .imgContainer {
        margin-left: 10rem;
        margin-top: -6rem;
        width: 25rem;
        height: 25rem;
    }

    .inBackContainer {
        margin-left: -10rem;
        margin-top: -4rem ;
    }

    .priceSection {
        margin-left: 9.5rem;
        margin-top: -0.5rem;
    }

    .smallDiv {
        margin-top: -6rem;
        margin-left: 10.5rem;
    }
}

@media screen and (max-width: 624px) {

    .priceSection {
        margin-left: 8rem;
    }

    .smallDiv {
        margin-left: 9rem;
    }

    .inTitle {
        margin-left: -3rem;
    }

    .imgContainer {
        margin-left: 8rem;
    }

    .inBackContainer {
        margin-left: -8rem;
    }

    .inContainer {
        overflow-y: auto;
    }

}

@media screen and (max-width: 550px) {
    .priceSection {
        margin-left: 6rem;
    }

    .smallDiv {
        margin-left: 7.5rem;
    }

    .inTitle {
        margin-left: -7rem;
    }

    .imgContainer {
        width: 40rem;
        margin-left: -1rem;
    }

}

@media screen and (max-width: 490px) {
    .priceSection {
        margin-left:4.5rem;
    }

    .smallDiv {
        margin-left: 5.5rem;
    }

    .inTitle {
        margin-left: -8rem;
    }

    .imgContainer {
        width: 40rem;
        margin-left: -3rem;
    }

}

@media screen and (max-width: 440px) {
    .priceSection {
        margin-left: 2.5rem;
    }

    .smallDiv {
        margin-left: 3.5rem;
    }

    .inTitle {
        margin-left: -10rem;
    }

    .imgContainer {
        width: 40rem;
        margin-left: -5rem;
    }

}

@media screen and (min-width: 400px) and (max-width: 550px) and (max-height: 950px) and (min-height:791px) {
    .priceSection {
        margin-left: 2.2rem;
        margin-top: 0rem;
    }

    .smallDiv {
        margin-left: 3rem;
        margin-top: -0rem;
        height: 9rem;
        padding-top: 0.05rem;
    }

    .inTitle {
        margin: 0;
        padding: 0;
        padding-top: 1rem;
        margin-left: 0.5rem;
        width: 23rem;
        text-align: center;
    }

    .imgContainer {
        width: 25rem;
        height: 20rem;
        margin-left: 1.5rem;
        margin-top: 0rem;
    }

    .customPara, .descPara {
        margin: 0;
        padding: 0;
        margin-top: 1rem;
    }

    .inBackContainer {
        margin: 0;
        padding: 0;
        margin-top: -4rem;
        margin-left: -0.5rem;
    }
    

}

@media screen and (min-width: 355px) and (max-width: 450px) and (max-height: 738px) and (min-height:730px) {
    .priceSection {
        margin-left: 2.2rem;
        margin-top: 0rem;
    }

    .smallDiv {
        margin-left: 3rem;
        margin-top: -2rem;
        height: 9rem;
        padding-top: 1.5rem;
        text-align: center;
    }

    .inTitle {
        margin: 0;
        padding: 0;
        padding-top: 1rem;
        margin-left: 1.5rem;
        width: 23rem;
        text-align: center;
    }

    .imgContainer {
        width: 25rem;
        height: 20rem;
        margin-left: 1.5rem;
        margin-top: -1.5rem;
    }

    .smallDiv {
        margin-left: 3rem;
        margin-top: -2rem;
        height: 9rem;
        padding-top: 1.5rem;
        text-align: center;
    }

    .inTitle {
        margin: 0;
        padding: 0;
        padding-top: 1rem;
        margin-left: 1.5rem;
        width: 23rem;
        text-align: center;
    }

    .imgContainer {
        width: 25rem;
        height: 20rem;
        margin-left: 1.5rem;
        margin-top: -1.5rem;
    }

    .descPara {
        margin: 0;
        padding: 0;
    }

    .customPara {
        margin: 0;
        padding: 0;
        margin-top: -2rem;
    }

    .inBackContainer {
        margin: 0;
        padding: 0;
        margin-top: -4rem;
        margin-left: -0.5rem;
    }

}

@media screen and (min-width: 395px) and (max-width: 550px) and (max-height: 729px) and (min-height:650px) {
    .priceSection {
        margin-left: 2.2rem;
        margin-top: 0rem;
    }

    .smallDiv {
        margin-left: 3rem;
        margin-top: -2rem;
        height: 9rem;
        padding-top: 1.5rem;
        text-align: center;
    }

    .inTitle {
        margin: 0;
        padding: 0;
        padding-top: 1rem;
        margin-left: 1.5rem;
        width: 23rem;
        text-align: center;
    }

    .imgContainer {
        width: 25rem;
        height: 20rem;
        margin-left: 1.5rem;
        margin-top: -1.5rem;
    }

    .descPara {
        margin: 0;
        padding: 0;
    }

    .customPara {
        margin: 0;
        padding: 0;
        margin-top: -2rem;
    }

    .inBackContainer {
        margin: 0;
        padding: 0;
        margin-top: -4rem;
        margin-left: -0.5rem;
    }

}


@media screen and (max-width: 399px) and (min-width: 388px) and (max-height: 950px) and (min-height:350px) {
    .priceSection {
        margin-left: 1.6rem;
        margin-top: 0rem;
    }

    .smallDiv {
        margin-left: 2.3rem;
        margin-top: -0rem;
        height: 9rem;
        padding-top: 0.05rem;
    }

    .inTitle {
        margin: 0;
        padding: 0;
        padding-top: 1rem;
        margin-left: 0.5rem;
        width: 23rem;
        text-align: center;
    }

    .imgContainer {
        width: 25rem;
        height: 20rem;
        margin-left: 1.5rem;
        margin-top: 0rem;
    }

    .customPara, .descPara {
        margin: 0;
        padding: 0;
        margin-top: 1rem;
    }

    .inBackContainer {
        margin: 0;
        padding: 0;
        margin-top: -4rem;
        margin-left: -0.5rem;
    }

}

@media screen and (max-width: 387px) {
    .priceSection {
        margin-left: 0.5rem;
    }

    .smallDiv {
        margin-left: 2rem;
    }

    .inTitle {
        margin-left: -11.5rem;
    }

    .imgContainer {
        width: 40rem;
        margin-left: -6rem;
    }

}

@media screen and (max-width: 376px) {
    .priceSection {
        margin-left: 0rem;
    }

    .smallDiv {
        margin-left: 1.5rem;
    }

    .inTitle {
        margin-left: -12.5rem;
    }

    .imgContainer {
        width: 40rem;
        margin-left: -6.5rem;
    }

}

@media screen and (max-width: 376px) and (max-height: 670px) and (min-height:400px) {
    .inContainer {
        padding-bottom: 5rem;
    }
   
    .priceSection {
        margin-left: 1rem;
        margin-top: 0rem;
    }

    .smallDiv {
        margin-left: 1.5rem;
        margin-top: -4rem;
        height: 9rem;
        padding-top: 0.05rem;
    }

    .inTitle {
        margin: 0;
        padding: 0;
        padding-top: 1rem;
        margin-left: -0.5rem;
        width: 23rem;
        text-align: center;
    }

    .imgContainer {
        width: 25rem;
        height: 20rem;
        margin-left: 0rem;
        margin-top: -3rem;
    }

    .customPara, .descPara {
        margin: 0;
        padding: 0;
        margin-top: 1rem;
    }

    .inBackContainer {
        margin: 0;
        padding: 0;
        margin-top: -4rem;
    }

}


@media screen and (min-width: 355px) and (max-width: 387px) and (max-height: 950px) and (min-height:700px) {
    .priceSection {
        margin-left: 0.8rem;
        margin-top: 0rem;
    }

    .smallDiv {
        margin-left: 1.3rem;
        margin-top: -4.5rem;
        height: 9rem;
        padding-top: 0.05rem;
    }

    .inTitle {
        margin: 0;
        padding: 0;
        padding-top: 1rem;
        margin-left: 0rem;
        width: 23rem;
        text-align: center;
    }

    .imgContainer {
        width: 25rem;
        height: 20rem;
        margin-left: 0.5rem;
        margin-top: 0rem;
    }

    .customPara, .descPara {
        margin: 0;
        padding: 0;
        margin-top: 1rem;
    }

    .inBackContainer {
        margin: 0;
        padding: 0;
        margin-top: -4rem;
        margin-left: -0.5rem;
    }

}

@media screen and (max-width: 354px) {
    .priceSection {
        margin-left: 0rem;
    }

    .smallDiv {
        margin-left: 3rem;
        width: 16rem;
    }

    .inTitle {
        margin-left: -12.5rem;
    }

    .imgContainer {
        width: 38rem;
        margin-left: -6.5rem;
    }

    .customPara {
        margin: 0;
        padding: 0;
        font-size: 17px;
    }

}

@media screen and (max-width: 321px) {
    .priceSection {
        margin-left: -1.2rem;
    }

    .smallDiv {
        margin-left: 2rem;
        width: 16rem;
    }

    .inTitle {
        margin-left: -1.5rem;
    }

    .imgContainer {
        width: 32rem;
        margin-left: -5rem;
        margin-top: -3.5rem;
    }

    .customPara {
        margin: 0;
        padding: 0;
        font-size: 12.5px;
    }

    .inBackContainer {
        margin: 0;
        padding: 0;
        margin-top: -4rem;
        margin-left: 5.5rem;
    }

}

@media screen and (max-width: 299px) {
    .priceSection {
        margin-left: -2rem;
        margin-top: 0rem;
    }

    .smallDiv {
        margin-left: 0.8rem;
        margin-top: -4.5rem;
        height: 9rem;
        padding-top: 0.05rem;
    }

    .inTitle {
        margin: 0;
        padding: 0;
        padding-top: 1rem;
        margin-left: -2rem;
        width: 23rem;
        text-align: center;
    }

    .imgContainer {
        width: 25rem;
        height: 20rem;
        margin-left: -3rem;
        margin-top: -4rem;
    }

    .customPara, .descPara {
        margin: 0;
        padding: 0;
        margin-top: 1rem;
        font-size: 12px;
    }

    .inBackContainer {
        margin-top: -4rem;
        margin-left: 3rem;
    }

}
