.loggingInContainer {
    height: 100vh;
}

.loggingInWrap {
    padding-top: 5.3rem;
    margin-left: 31.5rem;
}

.loggingInSection {
    width: 31rem;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0.272);
    border-radius: 20px;
    padding-top: 4rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

form {
    margin-left: 0rem;
    text-align: center;
}

.liHr {
    width: 20rem;
    margin-left: 5.5rem;
    margin-bottom: 2rem;
}

form > div > label {
    display: block;
    margin-right: 0.8rem;
}

form > div > input {
    border-radius: 30px;
    border-style: none;
    text-indent: 10px;
    width: 13rem;
    height: 2.5rem;
    margin-bottom: 3rem;
}

.liSubmitButton {
    border-style: none;
    background-color: palevioletred;
    width: 6rem;
    height: 2.1rem;
    animation: lisubmit 3s infinite;
}

.liSubmitButton:hover {
    transform: scale(1.1);
}

@keyframes lisubmit {
    0% { color: #60f09e; }
    50% { color: #FAB65C; }
    100% { color: #60f09e; }
  }

  .liBack {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 6.5rem;
    margin-left: 0.5rem;
  }

  .liBackText {
    margin-top: 0.5rem;
    font-size: 15px;
  }

  .liBack:hover {
    color: #FAB65C !important;
  }






    /* MEDIA QUERIES */

    @media screen and (max-width: 1800px) {
        .loginUserExist {
            margin-right: 5rem;
            margin-left: 11.5rem;
            background-color: rgba(255, 255, 255, 0.634);
            width: fit-content;
            color: red;
        }
      }

    @media screen and (max-width: 482px) {
        .liBack {
            margin-left: 8rem;
        }
  }